
<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <br>
            <br>
            <div class="ex1">
            <h3 class="card-title"> Overview of this Project</h3>
            <p class="card-text"> This is a basic <abbr appAnotherdirective title="Air Quality Management System">"AQMS"</abbr> application to monitor the real time percentage of oxygen in the surrounding. This will display the air content and moisture content percentage in the stratosphere. If the oxygen content is less then the required quantity, we will send alerts to the user's registered mobile number and email id </p>
        </div>
        </div>
    </div>
    <br>
    <br>
    <p style="color: rgb(158, 212, 11);"> Subscribe to our <a href="#">news-letter</a>  to get to know more about our project</p>
</div>
<div id="one" class="col-sm-6" style="text-align: center;">
<app-loginpage>

</app-loginpage></div>


