<div class="container p-5 my-5 bg-dark text-white">
    <h1>Cognizant AWS IOT Project</h1>
</div>

<div class="col-sm-6">
    <div class="card">
        <div class="card-body">
            <br>
            <br>

            <hr>
            <h2 class="card-title"> Overview of Project</h2>
            <p class="card-text"> This is a basic <abbr> AQMS </abbr> application to get to know the air content and moisture content of the Air particles present inside of the solar system. If the air is less then the required quantity, we will send alerts to the user's registered mobile number and email id </p>
            <hr>
            <p> Subscribe to our news letter to get to know more about our project</p>
        </div>
    </div>
</div>
<div id="one" class="col-sm-6" style="text-align: center;">
<app-loginpage>

</app-loginpage></div>


