<!-- <h1> Welcome to the AQMS Project</h1>

<div class="col-md-6">
  <h2>this is a prototype</h2>
</div>

<div class="col-md-6">
  <h2>To Login, please click on the login below
    <br>
    <br>
    <button type="button" class="btn btn-primary">Login</button></h2>

    <br>
    <br>
    <h2>
      To Register, please click on the register button below
    <br>
    <br>
    <button type="button" class="btn btn-primary">Register</button></h2>

</div>


 -->
<app-top></app-top>
 <div id='show_bg'>
 <router-outlet>

 </router-outlet>
</div>
<app-footer></app-footer>