<div><h3>Welcome {{ name }} to this application </h3></div>

<div class="container">
    <table [border]="2" class="table">
        <caption>  <h5> Sensor's Live feed data  </h5></caption>
        <thead>
            <tr>
                <th>FloorNumber</th>
                <th>O2</th>
                <th>Co2</th>
                <th>So2</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor=" let dats of data">
                <td>{{ dats.FloorNumber }}</td>
                <td>{{ dats.O2 }}</td>
                <td>{{ dats.Co2 }}</td>
                <td>{{ dats.So2 }}</td>
            </tr>
        </tbody>
    </table>
</div>